:root {
  --my-work-bg-color: #e2eaeb;
  --heading-color: #364043;
  --main-font-color: #44565a;
  --navbar-footer-bg: #5b7b7f;
  --navbar-footer-font: #F8F6F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Playfair Display", sans-serif;
}

header {
  height: 100dvh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: var(--navbar-footer-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Hamburger Menu Style  */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: var(--navbar-footer-font);
}

.navbar-list-container {
  display: flex;
  gap: 5rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar-list-container {
  display: flex;
  gap: 5rem;
}

.navbar-list-item {
  list-style-type: none;
  font-size: 1.27rem;
}


.nav-links {
  color: var(--navbar-footer-font);
  display: inline-block;
  position: relative;
  padding: .3125rem 0;
}

.nav-links::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.28s ease 0s, left 0.28s ease 0s;
  width: 0;
}

.nav-links:hover::after {
  width: 100%;
  left: 0;
}

.navbar-logo {
  height: 4rem;
  width: auto;
}

/* HERO */
.home-background-video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  -o-filter: blur(4px);
  filter: blur(4px);
  z-index: -1;
}

.desktop-video {
  display: block;
}

.mobile-video {
  display: none;
}

.home-promo-video {
  width: 50rem;
  height: 33rem;
  /* background-color: brown; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Play Button Main Page */
.btn-play-btn {
  z-index: 1;
  font-size: 140px;
  color: white;
  display: grid;
  place-items: center;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background-color: var(--navbar-footer-bg);
  transition: .3s;
  animation: pulse 1.1s ease-in-out infinite;
}

.btn-play-btn::before {
  content: "";
  display: inline-block;
  border-left: .3em solid;
  border-top: .18em solid transparent;
  border-bottom: .18em solid transparent;
  margin-right: -.08em;
}

.btn-play-btn:hover {
  cursor: pointer;
  background-color: hsla(187, 17%, 23%, 1);
}

@keyframes pulse {
  0% {
    box-shadow: 0em 0em 0em 0em hsla(187, 17%, 43%, .8);
  }

  100% {
    box-shadow: 0em 0em 0em .3em hsla(187, 17%, 43%, 0);
  }
}

/* Promo Video Main Page */
.promo-video {
  display: none;
  width: 50rem;
  height: 33rem;
}

/* **************** MY WORK SECTION **************** */

.my-work-main,
.contact-main {
  width: 100%;
  background-color: var(--my-work-bg-color);
}

.my-work-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  font-size: 3.5rem;
  color: var(--navbar-footer-bg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  padding-bottom: 9.4rem;
}

.card {
  width: 700px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.my-work-video {
  width: 43.75rem;
  height: 31.25rem;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 31.5rem;
  background-color: var(--navbar-footer-bg);
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-footer>h3 {
  color: var(--navbar-footer-font);
  font-size: 1.9rem;
}

.contact-me-footer>p {
  width: 300px;
  color: var(--navbar-footer-font);
  font-size: 1.1rem;
  line-height: 1.5;
  padding-top: 1rem;
}

.email-footer {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.email,
.email-icon {
  color: var(--navbar-footer-font);
  padding-top: 2.2rem;
}

.email-icon {
  font-size: 2.1rem;
}

.email {
  font-size: 1.2rem;
}

.footer-socials {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 2.5rem;
}

.socials {
  cursor: pointer;
  color: var(--navbar-footer-font);
  font-size: 3rem;
  transition: all .3s;
}

.socials:hover {
  transform: scale(1.3);
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  height: 20rem;
  width: auto;
}

/* ********** CONTACT ME CSS ********** */

.contact-h2 {
  font-size: 3.7rem;
  color: var(--heading-color);
  padding: 7rem 0;
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  padding-bottom: 14rem;
}

.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contact-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact-message {
  font-size: 1.7rem;
  font-weight: 500;
  width: 500px;
  text-align: center;
  line-height: 1.6;
  color: var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
  padding-bottom: 3rem;
}

.contact-use-email {
  font-size: 2rem;
  color: var(--main-font-color);
  padding: 3rem 0 1.3rem 0;
}

.contact-email {
  display: flex;
  color: var(--heading-color);
  align-items: center;
  gap: .5rem;
}

.email-info-contact {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-right>h3 {
  font-size: 3rem;
  color: var(--heading-color);
  padding-bottom: 4rem;
}

.socials-contact {
  color: var(--navbar-footer-bg);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s;
}

.social-media:hover {
  transform: scale(1.2);
  filter: drop-shadow(4px 5px 10px #000000);
}

.social-media-names {
  font-size: 2rem;
  color: var(--main-font-color);

}

.social-media-links {
  display: flex;
  color: var(--main-font-color);
  align-items: center;
  gap: .7rem;
}

.social-icons {
  transition: all 0.3s;
  font-size: 3rem;
}

.social-icons:hover {
  transform: scale(1.2);
  filter: drop-shadow(4px 5px 10px #000000);
}

/* Responsive CSS */

@media screen and (max-width: 1065px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    width: 100%;
  }

  .contact-right>h3 {
    padding-bottom: 2.5rem;
    margin: 8rem 0 2rem 0;
  }

  footer {
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
    margin: 4rem 0;
  }

  .contact-me-footer>h3 {
    text-align: center;
    padding: 1rem 0;
  }

  .contact-me-footer>p {
    text-align: center;
  }

  .email-footer {
    justify-content: center;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-right {
    width: 100%;
    margin: 1rem 0;
  }

  .main-logo {
    height: 17rem;
    width: auto;
  }
}

@media screen and (max-width: 830px) {

  /* Home Page Background Video */
  .desktop-video {
    display: none;
  }

  .mobile-video {
    display: block;
  }

  /* Navbar Hamburger Responsiveness */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-list-container {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--navbar-footer-bg);
    width: 100%;
    text-align: center;
    transition: .2s;
  }

  .navbar-list-item {
    margin: 16px 0;
  }

  .navbar-list-container.active {
    left: 0;
  }

  /* My Work Video Responsiveness */
  .card {
    width: 32rem;
    height: 20rem;
  }

  .my-work-video {
    width: 32rem;
    height: 20rem;
  }
}

@media screen and (max-width: 565px) {

  /* My Work Video Responsiveness */
  .card {
    width: 25rem;
    height: 15rem;
  }

  .my-work-video {
    width: 25rem;
    height: 15rem;
  }

  /* Footer Logo Responsiveness */
  .main-logo {
    height: 16rem;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-size: cover;
  }

  .navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .navbar-list-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-list-item {
    margin: 1rem 0;
  }

  .nav-links {
    padding: 0.5rem 0;
  }

  .contact-h2 {
    font-size: 2.3rem;
    padding: 7rem 0 4rem 0;
  }

  .contact-container {
    padding-bottom: 6rem;
  }

  .contact-message,
  .contact-use-email,
  .email-info-contact {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .socials-contact {
    gap: 1.2rem;
  }

  .social-media-names {
    font-size: 1.5rem;
  }

  .contact-message {
    padding: 0 1.25rem 2.5rem 1.25rem;
  }

  .contact-use-email {
    padding: 2.5rem 1.25rem .8rem 1.25rem;
  }

  .contact-right>h3 {
    font-size: 2.3rem;
    margin-top: 6rem;
  }
}


@media screen and (max-width: 450px) {
  .my-work-heading {
    padding: 5rem 0;
  }

  .cards {
    gap: 6rem;
  }

  .card {
    width: 20rem;
    height: 12rem;
  }

  .my-work-video {
    width: 20rem;
    height: 12rem;
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 16rem;
    height: 12rem;
  }

  .my-work-video {
    width: 16rem;
    height: 12rem;
  }

  /* Footer Logo Responsiveness */
  .main-logo {
    height: 14rem;
    width: auto;
  }
}