:root {
  --my-work-bg-color: #f4f1de;
  --navbar-footer-bg: #070F2B;
  --navbar-footer-font: #F8F6F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Playfair Display", sans-serif;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: var(--navbar-footer-bg);
  border-bottom: 2px solid #FF7ED4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  position: relative;
  z-index: 2;

}

.navbar-list-container {
  display: flex;
  gap: 5rem;
}

.navbar-list-item {
  list-style-type: none;
  font-size: 1.27rem;
}


.nav-links {
  color: var(--navbar-footer-font);
  display: inline-block;
  position: relative;
  padding: .3125rem 0;
}

.nav-links::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.28s ease 0s, left 0.28s ease 0s;
  width: 0;
}

.nav-links:hover::after {
  width: 100%;
  left: 0;
}

.navbar-logo {
  height: 4rem;
  width: auto;
}


/* HERO */
.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;
}

.animated-text {
  z-index: 1;
}

.play-video {
  padding-top: 8.2rem;
}

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -o-filter: blur(6px);
  filter: blur(6px);
}

/* **************** MY WORK SECTION **************** */

.my-work-main {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--my-work-bg-color);
}

.my-work-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  font-size: 3.5rem;
  color: var(--navbar-footer-bg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
}

.card {
  width: 700px;
  height: 500px;
  border-radius: .5rem;
  background-color: brown;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-top {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bottom {
  height: 15%;
  background-color: white;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: var(--navbar-footer-bg);
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-footer>h3 {
  color: var(--navbar-footer-font);
  font-size: 1.9rem;
}

.contact-me-footer>p {
  width: 300px;
  color: var(--navbar-footer-font);
  font-size: 1.1rem;
  line-height: 1.5;
  padding-top: 1rem;
}

.email-footer {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.email,
.email-icon {
  color: var(--navbar-footer-font);
  padding-top: 2.2rem;
}

.email-icon {
  font-size: 2.1rem;
}

.email {
  font-size: 1.2rem;
}

.footer-socials {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 2.5rem;
}

.socials {
  cursor: pointer;
  color: var(--navbar-footer-font);
  font-size: 3rem;
  transition: all .3s;
}

.socials:hover {
  transform: scale(1.3);
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  height: 380px;
  width: auto;
}